<div class="row">
    <h3>Log In</h3>
        <form method="post" action="/account/login">
            <br />
            <input type="text" class="form-control" placeholder="Enter you email" name="email" />
            <br />
            <input type="password" class="form-control" placeholder="Password" name="password" />
            <br />
            <button class="btn btn-primary">Log In</button>
            <br />
        </form>
    </div>
