<div class="row">
    <h3>Sign up</h3>
    <form method="post" action="/account/signup">
        <br/>
        <input type="text" class="form-control"placeholder="Enter you email"name="email"/>
        <br />
        <input type="password"class="form-control"placeholder="Password"name="password"/>
        <br/>
        <button class="btn btn-primary">Sign Up</button>
        <br/>
    </form>
</div>

